# Object files
*.o
*.ko
*.obj
*.elf
*.bin
*.lst
*.map

# Precompiled Headers
*.gch
*.pch

# Dependency files
*.d

# Source control files and other normally hidden files
.hg/
.arch*

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
